nav {
    position: relative;
    background-color: #aaa;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    float: left;
}

.getaround {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom-right-radius: 10px;
    background-color: #222;
}

form button {
    width: 50px;
    margin: 4px;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ccc;
    color: #333;
}

form button:hover {
    cursor: pointer;
}

form label {
    font-size: 25px;
    float: left;
    margin: 4px;

}

#serchn {
    width: 70%;
    margin: 4px;
    justify-self: left;
    height: auto;
    float: left;
    background-color: #fec;
}

.getaround li {
    justify-self: center;
    float: left;
}

.getaround li a{
    display: inline-block;
    border-radius: 10px;
    margin:10px;
    width: 80px;
    background-color: #ccc;
    color: #333;
    text-align: center;
}

.getaround li a:hover{
    background-color: #622;
    color: white;
}



.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 150px;
}

.gallery:hover{
    border: 1px solid #777;
}

.desc{
    padding: 15px;
    width: 150px;
    height:100px;
    text-align: center;
    overflow: auto;
}

.container{
    position: relative;
}