/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* my css code below. reset above.*/


body {
    border: 5px solid black;
    display: grid;
    justify-content: center;
    grid-template-columns: 100px auto auto auto auto 100px;
    grid-template-rows: 100px auto 75px;
    grid-template-areas: 
        "header header header header header header"
        "naver middle middle middle middle aside"
        "footer footer footer footer footer footer";
    background-color: #964;
}
    
header {
    border: 5px solid green;
    grid-area: header;
    background-color: #222;
    font-size: 32px;
    color: #eee;
}

nav {
    border: 5px solid blue;
    grid-area: naver;
    background: #222;
}
    nav li a{
        list-style-type: none;
        display: block;
        border: 3px solid black;
        text-align: center;
        border-radius: 10px;
        margin: 5px;
        margin-top: 20px;
        padding-top: 5px;
        width: 74px;
        height: 25px;
        background-color: #ccc;
        color: #222;
    }

section {
    border: 5px solid red;
    grid-area: middle;
}
    section h1{
        font-size: 20px;
        background-color: #777;
    }
    article {
        border: 5px solid violet;
    }
        article h2{
            font-size: 20px;
            background-color: #aaa;
        }
        .bigc {
            width: 100%;
            height: 250px;
            overflow: auto;
            background-color: #666;
        }
        .container{
            display: grid;
            grid-template-columns: 164px 164px 164px 164px;
            width: 164px;
        }
        .gallery {
            border: 2px solid #aaa;
            margin: 5px;
        }
            .gallery:hover{
                border: 2px solid #000;
            }
        .desc{
            background-color: #aaa;
        }

aside{
    border: 5px solid orange;
    grid-area: aside;
}

footer{
    border: 5px solid brown;
    grid-area: footer;
}

@media screen and (max-width: 325px) {
    body {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100px 50px auto 100px 75px;
        grid-template-areas:
            "header header header header"
            "naver naver naver naver"
            "middle middle middle middle"
            "aside aside aside aside"
            "footer footer footer footer";
    }
    nav li a{
        float: left;
        width: 50px;
        height: 20px;
        font-size: 12px;
        margin: 2px;
    }
}
@media screen and (min-width: 900px) {
    body {
        grid-template-columns: 150px auto auto auto auto 150px;
        grid-template-rows: 150px auto 110px
    }

    nav li a{
        width: 110px;
        height: 30px;
        margin: 10px;
        padding-top: 10px;
    }
}